# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.out
*.gch
*.csv
geany_run_script.sh
*.png

# Latex stuff
*.tex~
*.bib~
*#
*.aux
*.bbl
*.blg
*.lof
*.log
main.pdf
*.toc

